@import "./../../scss/variables";

.atelier {
  height: 602px;
  background: url("./../../assets/images/bg.png");
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
}
.subtitle {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: $yellow;
}
.title {
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 1px;
  color: $white;
  margin-bottom: 35px;
}
.btn {
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  color: $dark-brown;
  padding: 21px 28px 18px;
  background-color: $yellow;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $white;
  }
}

@media (max-width: 1100px) {
  .atelier {
    height: 450px;
    padding-top: 80px;
  }
  .title {
    font-size: 55px;
    line-height: 65px;
  }
}

@media (max-width: 880px) {
  .atelier {
    height: 380px;
    padding-top: 50px;
  }
  .title {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 20px;
  }
}

@media (max-width: 770px) {
  .atelier {
    height: 300px;
  }
  .title {
    font-size: 35px;
    line-height: 45px;
  }
}
