.image {
  background: url("./../../assets/images/bg2.png");
  height: 462px;
}

@media (max-width: 1100px) {
  .image {
    height: 350px;
  }
}

@media (max-width: 880px) {
  .image {
    display: none;
  }
}
